/* region index */
.index-header {
    margin: 6em 0;
}
.index-header h1 {
    text-align: center;
    font-weight: bold;
}
.index-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.index-map, .index-login {
    width: 400px;
    height: 350px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid #f5f5f5;
    border-radius: 10px;
    background: rgba(231,231,231,1);
    background: -moz-linear-gradient(45deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff', GradientType=1 );
    cursor: pointer;
}
.index-map:hover, .index-login:hover {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=1 );
    transition: all 0.4s linear;
}
.index-map:hover > svg {
    color: lightgreen;
    transition: color 0.2s linear;
}
.index-login:hover > svg {
    color: #71bed7;
    transition: color 0.2s linear;
}
.index-map p, .index-login p {
    font-size: 1.3em;
    font-weight: bold;
}
.fa-map, .index-login-icon {
    font-size: 6em;
}
/* endregion index */
/* region map */
.map-header {
    margin-top: 1.5em;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.search-bar {
    width: 50%;
}
.map-login {
    margin: auto 0;
    font-size: 1.5em;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.map-login > ul {
    display: inline-flex;
}
.map-login > ul > li {
    display: inline-block;
    padding-right: 1em;
    font-weight: 300;
}
.map-login > ul > li:hover {
    cursor: pointer;
}
.map-login a:link, .map-login a:visited {
    color: #222;
}
.map-login-icon {
    color: #71bed7;
}
.map-news-icon {
    color: #fe8402;
}
.map-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-options button {
    margin-bottom: 1em;
    width: 65%;

}
#map {
    height: 91vh;
}
/* endregion map */